doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Security-Policy", content=csp)
		meta(http-equiv="Referrer-Policy", content="no-referrer")

		meta(charset="utf-8")

		meta(name="title", content="Eric Cornelissen - Project Ideas")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="/styles/reset.css", rel="stylesheet", type="text/css")
		link(href="/styles/layout.css", rel="stylesheet", type="text/css")
		link(href="/styles/styling.css", rel="stylesheet", type="text/css")
		link(href="/styles/text.css", rel="stylesheet", type="text/css")

		title Eric Cornelissen - Project Ideas
	body
		header
			h1 Project Ideas
			p
				| This page is just a list of projects I wish existed, but haven't
				| gotten around to creating yet.
			p
				| You're free to take these ideas and create a solution however you see
				| fit. Just
				|
				a(href="mailto:ericornelissen+ideas@gmail.com", target="_blank") let me know
				|
				| when you do :)
		section#ideas
			div
				ul
					each idea in ideas
						li(id=fragmentify(idea.title))
							h2
								| #{ idea.title }
								|
								a(href=`#${fragmentify(idea.title)}`) #
							ul.tag-list
								each tag in idea.tags
									li !{ tag }
							p !{ idea.description }
