doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Security-Policy", content=csp)
		meta(http-equiv="Referrer-Policy", content="no-referrer")

		meta(charset="utf-8")

		meta(name="title", content="Eric Cornelissen - Projects")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="/styles/reset.css", rel="stylesheet", type="text/css")
		link(href="/styles/layout.css", rel="stylesheet", type="text/css")
		link(href="/styles/styling.css", rel="stylesheet", type="text/css")
		link(href="/styles/text.css", rel="stylesheet", type="text/css")

		title Eric Cornelissen - Projects
	body
		header
			h1 Projects
			p
				| This page lists all my software projects over the years, active and
				| inactive
			p
				| Looking for project ideas? Check out my #[a(href="/ideas") ideas page].
		section#active
			h2 Active
			div
				ul
					each project in projects
						if project.active
							li
								h4
									a(href=project.link, rel="noopener", target="_blank") #{ project.name }
								p #{ project.description }
		section#inactive
			h2 Inactive
			div
				ul
					each project in projects
						if !project.active
							li
								h4
									a(href=project.link, rel="noopener", target="_blank") #{ project.name }
								p #{ project.description }
